{% extends "base.html" %}
{% block title %}{{ trainer | capfirst }}{% endblock title %}
{% block content %}
    <p>Entrenador <strong>{{ trainer | capfirst }}</strong></p>
    <h3>Informacion del Entrenador</h3>
    <ul>
        <img src="{{ trainer.picture.url }}" alt="{{ trainer | capfirst }}" style="width: 30%;">
        <br>
        <li>Nombre: {{ trainer.name }}</li>
        <li>Apellido: {{ trainer.last_name }}</li>
        <li>Nivel: {{ trainer.level }}</li>
        <li>Cumpleaños: {{ trainer.birth_date }}</li>
    </ul>
{% endblock content %}